<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Application Submitted</title>
</head>
<body>
  <h4>Full Name </h4>
  <div>{{applications['full_name']}}'s Application Submitted</div>

  <h4>Email</h4>
  <div>{{applications['email']}}</div>
  <h4>LinkedIn URL</h4>
  <div>{{applications['linkdin_url']}}</div>
  <h4>Education</h4>
  <div>{{applications['education']}}</div>
  <h4>Experience</h4>
  <div>{{applications['experience']}}</div>
  <h4>Resume URL</h4>
  <div>{{applications['resume_url']}}</div>
  
</body>
</html>