<h4>Application form</h4>
<form action="/job/{{job['id']}}/apply" method="post">
  <div class = "mb-2">
  <label>Full Name</label> <br>
  <input type="text" name = "full_name" placeholder="Your full name">  <br>
    </div>
  
  <div class = "mb-2">
  <label for="email">Your Email</label> <br>
  <input type="text" name = "email" placeholder="your email"> <br>
  </div>
  
  <div class = "mb-2">
  <label for="linkedin">LinkedIn URL</label> <br>
  <input type="text" name = "linkdin_url" placeholder="your linkdn"> <br>
  </div>
  <div class="mb-2">
    <label for="education">Education</label> <br>
    <textarea name="education" id="education" cols="30" rows="10"></textarea>
  </div> <br>
  <div class="mb-2">
    <lable for="experince">Experience</lable> <br>
    <textarea name= "experience" id ="experince" cols ="30" rows="10"></textarea>
  </div> <br>
    <div class="mb-2">
      <label for="resume_url">Resume Url</label> <br>
      <input type="text" name="resume_url" id="resume_url">
    </div> <br>
    <div class = "mb-2">
    <input type="submit" name = "submit"">
  </div>
  
</form>