<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>techJob</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
  
<body>
  <div class="container">
  <h1> Welcome to tech job world</h1>
    <img id="banner" src="static/joshua-sortino-LqKhnDzSF-8-unsplash.jpg">
  <p>tech job provides you aoopritinity to ecxel in the tech world. Recongize your strenth and dive into your dream world</p>
    </div>
  <h2>Open Positions</h2>
</body>
</html>